<html lang="en">
<head>
  <% include partials/_headers %>
</head>
<body>
  <h>TinyApp:  <%= shortUrls %></h>
  <ul>
    <li>
      <form method="POST" action="/urls/<%= shortUrls %>/?_method=PUT" >
        <label for="longURL"> <%= fullUrl.url %> </label>
        <input id="longURL" type="text" name="longURL" placeholder="<%= fullUrl.url %>">
        <button name="button">UPDATE</button>
      </form>
    </li>
  </ul>
  <p> VIEWS: <%= fullUrl.views %> </p>
  <p> UNIQUE VIEWS: <%=fullUrl.uniqueViews%> </p>
  <ol>
    <%if(fullUrl.visits.length != 0) {%>
    <%for(let visit of fullUrl.visits) {%>
    <li>User: <%= visit.user%>  Visted @: <%=visit.time %></li>
    <%}%>
    <%}%>

  </ol>
</body>
</html>